input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-text-fill-color: #ffffff !important;
    -webkit-box-shadow: 0 0 0px 1000px #080101 inset !important;
}

/* Change the background color of the autofill value */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #080101 inset !important;
}